.color{
    color: crimson;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

body{
    background-color: #36393f;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.box {
    background: white;
    margin: auto;
    margin-top: 5%;
    max-width: 30%;
    padding: 20px 50px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  
  .box:hover {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    animation-name: example;
    animation-duration: 0.25s;
    border-left: 8px solid red;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  
  button {
    border:none;
    background: red;
    color: #f0f0f2;
    border-radius: 5px;
    padding: 5px;
  }
  
  button:hover {
    border-right: 2px solid black;
  }
  
  h1 {
    text-transform: uppercase;
  }
  
  p {
    text-align: justify;
  }
  
  @keyframes example {
      0%   {border-left: 2px solid #ffffff;}
      25%  {border-left: 3px solid #ffe6e6;}
      50%  {border-left: 4px solid #ff8080;}
      100% {border-left: 5px solid #ff0000;}
  }

/* SEPARADORES */
.separar_bottom{
    margin-bottom: 3%;
}

.separar_top{
    margin-top: 3%;
}

.separar_left{
    margin-left: 3%;
}

.separar_right{
    margin-right: 3%;
}
/* FIN SEPARADORES */

.responsive_imagenes{
    width: 100%;
    max-width: 550px;
    border: 2px solid #000000;
}

.responsive_img_albion{
    width: 100%;
    max-width: 300px;
    border: 3px solid crimson;
}

.responsive_img_albiongank{
    width: 100%;
    max-width: 600px;
    border: 3px solid crimson;
}

.responsive_guiaszvz{
    width: 100%;
    max-width: 450px;
    border: 3px solid crimson;
}

.centrado{
    text-align: center;
}

/* REDES SOCIALES */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 65px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
   opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #d02e7b;
    color: white;
}
/* FIN REDES SOCIALES*/

